body {
    margin: 0 2vw;
}

#container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-between;
}

#header-title {
    margin-left: 2vw;
    display: flex;
    align-items: center;
}

#header-user {
    display: flex;
    align-items: center;
    margin-right: 2vw;
}

.user-icon {
    margin-right: 1vw;
}

#icon {
    width: 50px;
    height: 50px;
}

#main-container {
    display: flex;
    flex-direction: row;
    height: auto;
}

#video-container {
    flex: 3;
    display: flex;
    flex-direction: column;
}

#video-main {
    height: auto;
    width: 100%;
    border: solid 1px ;
}

#video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

#video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#video-title {
    margin: 1vw 1vw 0 1vw;
    height: 3vw;
}

#video-summary {
    height: 20%;
    width: 100%;
    border: solid 1px;
}

#source-memo {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}

#source-code {
    padding: 1vw;
    height: 80%;
    border: solid 1px;
}

.tab_wrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

input[type="radio"]{display:none;}

.tab_area {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    font-size:0; 
    margin:0 ;
}

.tab_area label {
    width: 5vw; 
    margin-right: 5px; 
    padding: 1vw 0; 
    color: #999; 
    background: #ddd; 
    text-align: center; 
    font-size: 1vw; 
    cursor: pointer; 
    transition: ease 0.2s opacity;
    border: solid 1px;
    border-bottom: 0;
}

.tab_area label:hover { 
    opacity:0.5;
}

.panel_area {
    height: 100%;
}

.tab_panel {
    width:100%;
    display:none;
    max-height: 540px;
}
 
#tab1:checked ~ .tab_area .tab1_label{background:#fff; color:rgb(0, 0, 0);}
#tab1:checked ~ .panel_area #panel1{display:block;}
#tab2:checked ~ .tab_area .tab2_label{background:#fff; color:#000;}
#tab2:checked ~ .panel_area #panel2{display:block;}

#memo-container {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    height: 10vw;
    margin-top: 1px;
    padding: 0 1vw 1vw 1vw;
}

.memo {
    flex: 5;
    width: 100%;
    height: auto;
    font-family: Monaco, 'Andale Mono', 'Courier New';
    border: solid 1px #cccccc;
}

.subTitle {
    flex: 1;
    margin: 0;
    margin: 1vw 0;
}